body {
    margin: 0;
    background: linear-gradient(to bottom, rgba(96, 62, 101, 1) 0%, rgba(96, 62, 101, 1) 46%, rgba(96, 62, 101, 1) 50%, rgba(33, 24, 38, 1) 51%, rgba(33, 24, 38, 1) 82%, rgba(33, 24, 38, 1) 96%, rgba(33, 24, 38, 1) 100%);
    font-family: 'Roboto', sans-serif;
}

#app {
    background: url(svg/embellishment/background.svg) no-repeat center;
    background-size: contain;
}

.app {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 96vh;
    width: 96vw;
    padding: 2vh 2vw;
}

.world, .libraries, .drivers {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.world {
    flex-direction: column-reverse;
}

.libraries {
    flex-direction: column;
}

.drivers {
    flex-direction: column;
}

.cyclejs {
    width: 6em;
    margin: 1em;
}

.title,
.range {
    display: flex;
}

.title {
    margin-left: 4em;
}

.title .frequency {
    text-align: center;
    width: 2.5em;
}

.range .touches .touch {
    text-align: center;
    width: 3em;
}

.range .instrument {
    width: 4em;
}

img.character {
    width: 10em;
}

img.instrument {
    width: 5em;
    margin-left: -5em;
}

img.instrument.animate {
    animation: instrumentmove 200ms ease-in-out infinite;
}

img.cyclejs.animate {
    animation: instrumentmove 200ms ease-in-out infinite;
}

@keyframes speakermove {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes mergemove {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(2,2);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes instrumentmove {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(45deg);
    }
    66% {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(0);
    }
}

img.character.animate {
    transform: rotate(20deg);
}

.speaker {
    width: 8em;
}

.speaker.animate {
    transform: none;
    animation: speakermove 1s infinite;
}

.wire {
    display: flex;
    flex-direction: row;
    height: 0;
    width: 0;
    align-items: center;
    justify-content: space-between;
}

.wire > div {
    font-size: 2em;
}

.wire.music.stop > div.animate,
.wire.note.stop > div.animate {
    background: transparent;
}

.wire.note {
    transform: translateY(20vh);
}

.wire.music {
    background: yellow;
}

.characters {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.player {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-self: stretch;
}

.merge > .wire {

}

img.merge {
    width: 8em;
}

img.merge.animate {
    animation: mergemove 1s infinite;
    transform-origin: center;
    transition: transform 1s;
}

.rythmbox > .characters {
    display: flex;
    justify-content: space-between;
}

.rythmbox > .characters > div {
    color: white;
}

input[type=checkbox] {
    margin-right: .2em;
}